<html>
    <head>
        <title>rbsix blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rbsix Blog</a></h1>
        </div>

        <div>
            <p>公開日：2021/01/04,18:00</p>
            <h2><a href="">1番目投稿</a></h2>
            <p>今年度の第一目のキャラクターは来ました！！<br/>
            ------------------------------------------------</p>
        </div>

        <div>
            <p>公開日：2021/01/04,18:01</p>
            <h2><a href="">2番目投稿</a></h2>
            <p>今年度の第二目のキャラクターは来ました！！<br/>
            ------------------------------------------------</p>
        </div>
    </body>
</html>